/* global styles reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: space-mono;
    src: url("Space_Mono/SpaceMono-Bold.ttf");
}

body {
    background-color: var(--light-grayish-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: space-mono;
}

.title {
    margin-bottom: 4rem;
}

.title p {
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: normal;
}

.main-container {
    background-color: var(--white);
    border-radius: 2rem;
    display: flex;
    padding: 2rem;
    width: 600px;
    gap: 1rem;
}

/* input section styles */
.input-section {
    /* border: 1px solid red; */
    flex: 50% 1 1;
    padding:2rem 1rem;
}

.label {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: var(--grayish-cyan);
}

#bill{
    margin-bottom: 2rem;
    width: 100%;
    padding: 1rem 1rem 1rem 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--dark-grayish-cyan);
    background-color: var(--very-light-grayish-cyan);
    background-image: url("images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: center left 1rem; 
}

#bill.error-input,
#people-number.error-input {
    border: 1px solid red;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

input[type=number] {
    -moz-appearance: textfield;
    font-family: space-mono;
    font-size: 1.6rem;
    color: var(--very-dark-cyan);
  }

input:focus {
    outline: 1px solid var(--strong-cyan);
}



.error {
    color: red;
    font-size: 1.1rem;
    visibility: hidden;
}

/* tip percentage section styles */
.tip-percentage {
    margin-bottom: 2rem;
}

.top-row,
.bottom-row {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.top-row {
    margin-bottom: 0.5rem;
}

.row-1 {
    background-color: var(--very-dark-cyan);
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 0.5rem;
    color: var(--white);
    /* border: 1px solid rgb(60, 0, 128); */
    transition: background-color 0.5s ease-in-out;
}

.row-1:hover {
    cursor: pointer;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.row-1.active {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.row-2 {
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 0.5rem;
    color: var(--white);
    /* border: 1px solid blue; */
}

.row-2.active {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.custom-input {
    /* width: 100%; */
    padding: 1rem;
    margin: 0;
    border: 1px solid var(--dark-grayish-cyan);
    background-color: var(--very-light-grayish-cyan);
}

.twenty-five,
.fifty {
    background-color: var(--very-dark-cyan);
    transition: background-color 0.5s ease-in-out;
}

.twenty-five:hover,
.fifty:hover {
    background-color: var(--strong-cyan);
    cursor: pointer;
    color: var(--very-dark-cyan);
}

#people-number {
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--dark-grayish-cyan);
    background-color: var(--very-light-grayish-cyan);
    background-image: url("images/icon-person.svg");
    background-position: center left 1rem;
    background-repeat: no-repeat;
}

.people-number-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ouput section styles */
.output-section {
    background-color: var(--very-dark-cyan);
    padding: 2rem;
    border-radius: 2rem;
    flex: 50% 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip-per-person,
.total-per-person {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tip-per-person {
    margin-bottom: 2rem;
}

.output-title {
    font-size: 1.1rem;
    color: var(--very-light-grayish-cyan);
    margin-bottom: 0.2rem;
}

.subtitle-paragragh {
    color: var(--grayish-cyan);
    font-size:1rem;
}

.amount {
    font-size: 3rem;
    color: var(--strong-cyan);
}

button {
    padding: 1rem;
    background-color: var(--strong-cyan);
    border: none;
    outline: none;
    border-radius: 0.5rem;
    color: var(--very-dark-cyan);
    transition: background-color 0.5s ease-in-out;
    font-size: 1.4rem;
}

button:hover {
    background-color: var(--light-grayish-cyan);
    cursor: pointer;
}

.reset-button {
    display: none;
}

@media screen and (max-width: 630px) {

    body {
        height: auto;
    }

    .title {
        margin: 3.5rem 0 1rem 0;
    }

    .main-container {
        flex-direction: column;
        width: 65%;
    }

    .tip-per-person {
        margin-bottom: 1rem;
    }

    .total-per-person {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 375) {
    .main-container {
        width: 100%;
    }
}